@import "presets";
#centerBox {
	height: 100vh;
	width: calc($centerWidth * 1.2);
	left: $leftWidth;
	// display: inline-flex;
	position: fixed;
	top: 0;
	@include flexCenter;
	// outline: 1px solid yellow;
	overflow-y: auto;
	.aboutArea {
		padding-left: 80px;
		color: $thirdColor;
		@include Font-Minor;
	}
	.aboutAreaContact {
		padding-left: 80px;
		color: $primeColor;
		@include Font-Minor;
		text-decoration: none;
	}
}
