@import "./presets";
#centerBox {
	height: 100vh;
	width: $centerWidth;
	left: $leftWidth;
	display: inline-flex;
	position: fixed;
	top: 0;
	@include flexCenter;
	outline: 1px solid yellow;
	.nameArea {
		padding-left: 50px;
		margin: 0;
		margin-bottom: 20px;
		color: $primeColor;
		@include Font-Major;
	}
	.aboutArea {
		padding-left: 80px;
		color: $thirdColor;
		@include Font-Minor;
	}
	.aboutAreaContact {
		padding-left: 80px;
		color: $primeColor;
		@include Font-Minor;
		text-decoration: none;
	}
}

@media only screen and (max-width: 1700px) {
	#centerBox {
		// background-color: lightblue;
		width: calc($totalWidth / 2);
		div {
			header {
				.nameArea {
					font-size: 54px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1450px) {
	#centerBox {
		// background-color: lightblue;
		width: $totalWidth;
		div {
			header {
				.nameArea {
					font-size: 54px;
				}
			}
			.aboutArea {
				font-size: 12px;
			}
		}
	}
	#rightBox {
		display: none !important;
	}
}

@media only screen and (max-width: 1050px) {
	#centerBox {
		// background-color: lightblue;
		width: $totalWidth;
		div {
			header {
				.nameArea {
					font-size: 54px;
				}
			}
			.aboutArea {
				font-size: 12px;
			}
		}
	}
	#rightBox {
		display: none !important;
	}
}

@media only screen and (max-width: 805px) {
	#centerBox {
		// background-color: lightblue;
		width: $totalWidth;
		div {
			header {
				.nameArea {
					font-size: 40px;
				}
			}
			.aboutArea {
				font-size: 12px;
			}
		}
	}
	#rightBox {
		display: none !important;
	}
}

@media only screen and (max-width: 660px) {
	#centerBox {
		// background-color: lightblue;
		width: $totalWidth;
		div {
			header {
				.nameArea {
					font-size: 28px;
				}
			}
			.aboutArea {
				font-size: 12px;
			}
		}
	}
	#rightBox {
		display: none !important;
	}
}
