@import "./presets";
#rightBox {
	height: 100vh;
	width: $rightWidth;
	right: 0;
	// left: calc($leftWidth + $centerWidth);
	display: inline-flex;
	position: fixed;
	top: 0;
	@include flexCenter;
	.nameArea {
		padding-left: 50px;
		margin: 0;
		margin-bottom: 20px;
		color: rgb(189, 211, 175);
		@include Font-Major;
	}
	.aboutArea {
		padding-left: 80px;
		color: aliceblue;
		@include Font-Minor;
	}
	.aboutAreaContact {
		padding-left: 80px;
		color: rgb(189, 211, 175);
		@include Font-Minor;
		text-decoration: none;
	}
	#contact-wrapper {
		flex-direction: column;
		height: 100%;
		width: 50%;
		@include flexCenter;
		align-items: start;
		// @include Font-Minor;
		.icon {
			background-color: $primeColor;
			border-radius: 90%;
			height: 10%;
			aspect-ratio: 1/1;
			@include flexCenter;
			margin-bottom: 3rem;
			svg {
				height: 80%;
				aspect-ratio: 1/1;
				transform: rotate(-20deg);
			}
		}
		.right-contact {
			margin: 0;
		}
		.head-contact {
			@include Font-Mid;
			font-size: 30px;
			font-weight: 100;
			// margin-bottom: 10%;
			margin-top: 5%;
			color: $primeColor;
		}
		h3 {
			width: 100%;
			.contact {
				width: 100%;
				text-decoration: none;
				@include Font-Minor;
				font-weight: 900;
				margin-bottom: 5%;
				margin-left: 5%;
				color: $thirdColor;
			}
			.link-contact:hover {
				color: $secondColor;
				transition: 0.4s;
			}
		}
		hr {
			width: 100%;
			margin: 0;
		}
	}
}
