// https://codepen.io/dcarock/pen/ExRExo

.bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -30;
	opacity: 0.3;
	&:after {
		content: "";
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		min-height: 100%;
		max-height: 100%;
		width: 700%;
		background-image: url(../images/BG-Lines.svg);
		background-position: center bottom;
		animation: animatedLines 1500s linear infinite;
		opacity: 0.3;
		position: absolute;
		z-index: -3;
	}
	&:before {
		content: "";
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		min-height: 100%;
		max-height: 100%;
		width: 700%;
		background-image: url(../images/BG-Squares.svg);
		background-position: center bottom;
		animation: animatedSquares 1200s linear infinite;
		opacity: 0.2;
		position: absolute;
		z-index: -3;
	}
}

@keyframes animatedSquares {
	0% {
		background-position: 0 100%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 100%;
	}
}

@keyframes animatedLines {
	0% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 100% 100%;
	}
}
