@import "presets";
#centerBox {
	.contactTop {
		margin-bottom: -20px;
		font-weight: 100;
	}
	.contactBottom {
		margin-bottom: 20px;
	}
	.container {
		padding: 20px;
		padding-left: 50px;
		padding-right: 50px;
		form {
			div {
				display: inline-flex;
				flex-direction: row;
				width: 100%;
				gap: 20px;
				.inputField {
					width: 50%;
				}
			}
			.email {
				width: 100%;
				.leftInput {
					width: 100%;
				}
				.number {
					width: 100%;
					.numInput {
						width: 70%;
					}
					.extInput {
						width: 30%;
					}
				}
			}
		}
		input[type="text"],
		input,
		select,
		textarea {
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 10px;
			box-sizing: border-box;
			margin-top: 6px;
			margin-bottom: 16px;
			resize: vertical;
		}
		input[type="submit"] {
			@include Font-Minor;
			background-color: $fourthColor;
			color: $primeColor;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}
		input[type="submit"]:hover {
			background-color: $primeColor;
			color: $fourthColor;
		}
		input::placeholder,
		select,
		textarea::placeholder {
			@include Font-Minor;
			color: rgba(0, 0, 0, 0.6);
			// outline: 1px solid black;
		}
		.submit {
			color: $thirdColor;
			background-color: blue;
		}
	}
}
