@import "./presets";
// general
// * {
//     outline: 1px solid red;
// }
body {
    height: 100%;
    overflow-x: hidden;
    background-color: #161819;
    margin: 0;
}

// styleing
@import "./leftBox";
@import "./centerBox";
@import "./rightBox";
p {
    margin-top: 0;
}
