.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -30;
  opacity: 0.3;
}
.bg:after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 700%;
  background-image: url(../images/BG-Lines.svg);
  background-position: center bottom;
  animation: animatedLines 1500s linear infinite;
  opacity: 0.3;
  position: absolute;
  z-index: -3;
}
.bg:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 700%;
  background-image: url(../images/BG-Squares.svg);
  background-position: center bottom;
  animation: animatedSquares 1200s linear infinite;
  opacity: 0.2;
  position: absolute;
  z-index: -3;
}

@keyframes animatedSquares {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@keyframes animatedLines {
  0% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
#centerBox {
  height: 100vh;
  width: calc((100% - 17rem) / 2 * 1.2);
  left: 17rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
#centerBox .nameArea,
#centerBox .nameAreaContact,
#centerBox .contactTop,
#centerBox .contactBottom {
  padding-left: 50px;
  margin: 0;
  margin-bottom: 20px;
  color: rgb(189, 211, 175);
  font-size: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#centerBox .nameAreaContact {
  margin-bottom: 0px;
}
#centerBox .aboutArea {
  padding-left: 80px;
  color: aliceblue;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
#centerBox .aboutAreaContact {
  padding-left: 80px;
  color: rgb(189, 211, 175);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

@media only screen and (max-width: 1430px) {
  #centerBox div header .nameArea {
    font-size: 63px;
  }
}
@media only screen and (max-width: 1400px) {
  #centerBox {
    width: calc(100% - 17rem);
  }
  #rightBox {
    display: none !important;
  }
}
@media only screen and (max-width: 925px) {
  #centerBox div header .nameArea {
    font-size: 40px;
  }
  #centerBox div .aboutArea {
    font-size: 12px;
  }
}
@media only screen and (max-width: 660px) {
  #centerBox div header .nameArea {
    font-size: 28px;
  }
}
@media only screen and (max-width: 525px) {
  #centerBox div header .nameArea {
    font-size: 25px;
  }
}
.leftBox {
  width: 17rem;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.leftBox .linksWrapper {
  background: #000000;
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.leftBox .linksWrapper .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leftBox .linksWrapper .logo div {
  width: 6rem;
  height: auto;
  padding-bottom: 10px;
  height: 40px;
  width: 120px;
  background-image: url(../images/KMLogo.svg);
  background-repeat: no-repeat;
  margin: auto;
  z-index: 1;
}
.leftBox .linksWrapper .logo span {
  font-family: font-file-82131;
  color: aliceblue;
  margin-top: 1px;
  font-size: 2.7rem;
}
.leftBox .leftBox_nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #282828;
}
.leftBox .leftBox_nav .current-page {
  color: rgb(241, 224, 176);
}
.leftBox .leftBox_nav a {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.6rem;
  color: #909096;
  line-height: 5rem;
  border-bottom: 1px solid #282828;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
}
.leftBox .leftBox_nav a:hover {
  color: #08fdd8;
}
.leftBox ul {
  color: #909096;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 20rem;
}
.leftBox ul li {
  text-align: center;
  padding: 2rem 7px;
}
.leftBox ul li svg {
  width: 2rem;
}
.leftBox ul li svg.githubSVG {
  width: 2rem;
}
.leftBox ul li svg.linkedinSVG {
  width: 2rem;
}
.leftBox ul li svg.dlSVG {
  width: 2.5rem;
}
.leftBox ul li svg path {
  transition: fill 0.3s;
  fill: #909096;
}
.leftBox ul li a:hover svg path {
  fill: aliceblue;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.title .titleWrapper {
  height: 20px;
  width: 100;
  overflow: hidden;
}
.title .titleWrapper .titleItem {
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  color: #978b90;
  font-size: 18px;
  text-align: center;
  animation: slider 20s linear infinite;
}

@keyframes slider {
  0% {
    margin-top: -20px;
  }
  7% {
    margin-top: -20px;
  }
  11% {
    margin-top: -47px;
  }
  21% {
    margin-top: -47px;
  }
  25% {
    margin-top: -74px;
  }
  36% {
    margin-top: -74px;
  }
  40% {
    margin-top: -101px;
  }
  50% {
    margin-top: -101px;
  }
  55% {
    margin-top: -128px;
  }
  65% {
    margin-top: -128px;
  }
  69% {
    margin-top: -155px;
  }
  79% {
    margin-top: -155px;
  }
  83% {
    margin-top: -182px;
  }
  93% {
    margin-top: -182px;
  }
  97% {
    margin-top: -209px;
  }
  100% {
    margin-top: -209px;
  }
}
#centerBox {
  height: 100vh;
  width: calc((100% - 17rem) / 2 * 1.2);
  left: 17rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
#centerBox .nameArea,
#centerBox .nameAreaContact,
#centerBox .contactTop,
#centerBox .contactBottom {
  padding-left: 50px;
  margin: 0;
  margin-bottom: 20px;
  color: rgb(189, 211, 175);
  font-size: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#centerBox .nameAreaContact {
  margin-bottom: 0px;
}
#centerBox .aboutArea {
  padding-left: 80px;
  color: aliceblue;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
#centerBox .aboutAreaContact {
  padding-left: 80px;
  color: rgb(189, 211, 175);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

@media only screen and (max-width: 1430px) {
  #centerBox div header .nameArea {
    font-size: 63px;
  }
}
@media only screen and (max-width: 1400px) {
  #centerBox {
    width: calc(100% - 17rem);
  }
  #rightBox {
    display: none !important;
  }
}
@media only screen and (max-width: 925px) {
  #centerBox div header .nameArea {
    font-size: 40px;
  }
  #centerBox div .aboutArea {
    font-size: 12px;
  }
}
@media only screen and (max-width: 660px) {
  #centerBox div header .nameArea {
    font-size: 28px;
  }
}
@media only screen and (max-width: 525px) {
  #centerBox div header .nameArea {
    font-size: 25px;
  }
}
#rightBox {
  height: 100vh;
  width: calc((100% - 17rem) / 2);
  right: 0;
  display: inline-flex;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rightBox .nameArea {
  padding-left: 50px;
  margin: 0;
  margin-bottom: 20px;
  color: rgb(189, 211, 175);
  font-size: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#rightBox .aboutArea {
  padding-left: 80px;
  color: aliceblue;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
#rightBox .aboutAreaContact {
  padding-left: 80px;
  color: rgb(189, 211, 175);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-decoration: none;
}
#rightBox #contact-wrapper {
  flex-direction: column;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
}
#rightBox #contact-wrapper .right-contact {
  margin: 0;
}
#rightBox #contact-wrapper .head-contact {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-weight: 100;
  margin-top: 5%;
  color: rgb(189, 211, 175);
}
#rightBox #contact-wrapper h3 {
  width: 100%;
}
#rightBox #contact-wrapper h3 .contact {
  width: 100%;
  text-decoration: none;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-weight: 900;
  margin-bottom: 5%;
  margin-left: 5%;
  color: aliceblue;
}
#rightBox #contact-wrapper h3 .link-contact:hover {
  color: rgb(0, 0, 230);
  transition: 0.4s;
}
#rightBox #contact-wrapper hr {
  width: 100%;
  margin: 0;
}

html {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-size: 62.5%;
  min-width: 320px;
}
html input::-webkit-outer-spin-button,
html input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  background-color: #1d1d1d;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  background: #1d1d1d;
  display: block;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
}

p {
  margin-top: 0;
}/*# sourceMappingURL=index-master.css.map */