@import "presets";

html {
	box-sizing: content-box;
	overflow-y: visible !important;
	/* -ms-overflow-style: -ms-autohiding-scrollbar; is to hide edge inner scrollbar*/
	-ms-overflow-style: -ms-autohiding-scrollbar;
	/* scrollbar-width: none; is to hide firefox inner scrollbar */
	scrollbar-width: none;
}

body {
	/* scrollbar-width: none; is to hide firefox inner scrollbar */
	scrollbar-width: none;
	width: $totalWidth;
	margin-left: 17rem;
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-thumb {
	display: none;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	padding-right: 16px;
	padding-left: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	grid-gap: 16px;
	height: 100%;
}

.child {
	@include flexCenter;
	position: relative;
	height: 100px;
	width: 100%;
	padding: 60px;
	background-color: rgba(0, 0, 230, 0.192);
	flex: 1 0 20%;
	outline: blue solid 2px;

	overflow: hidden;
}

img {
	display: block;
	height: 75px;
	width: 75px;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: 1s;
}

.link-spanner {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	// background-image: url("empty.gif");
	opacity: 0;
}

.child:hover > img {
	opacity: 1;
	position: relative;
	transform: translate(0%, -400%);
	overflow: hidden;
}

.link-spanner:hover {
	@include flexCenter;
	transition: 2s;
	opacity: 1;
	color: yellow;
}
