#centerBox {
  height: 100%;
  width: calc(100% - 17rem);
  left: calc(17rem + 1px);
  display: grid;
  grid-template-columns: none;
  grid-gap: 3px;
  margin: 0 auto 5vh;
  padding: 0;
}

.child {
  height: 325px;
  width: 349px;
  min-height: 195px;
  min-width: 349px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

img {
  max-height: 10vh;
  max-width: 10vw;
  min-height: 5vh;
  min-width: 5vw;
  aspect-ratio: 1/1;
}

#child:nth-child(1) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(2) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(3) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(4) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(5) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(6) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(7) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(8) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(9) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(10) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(11) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(12) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(13) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(14) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#child:nth-child(15) {
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  background-color: rgba(131, 124, 124, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}/*# sourceMappingURL=myWork.css.map */