@import "./_presets";
@import "./centerBox";

html {
	font-size: 62.5%;
	min-width: 320px;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	background: #1d1d1d;
	display: block;
	min-width: 320px;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	padding-left: 13rem;
	overflow-y: scroll;
	overflow-x: hidden;
}

.leftBox {
	width: $leftWidth;
	background-color: #181818;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	right: auto;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 3;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	padding: 0;
	.linksWrapper {
		background: #000000;
		height: 200px;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 2rem 0rem;
		.linksWrapper > span {
			font-family: "Open Sans";
			color: #a5a5a5;
			font-size: 1.2rem;
			margin-top: 1rem;
		}
		.logo {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
		.logo div {
			width: 6rem;
			height: auto;
			padding-bottom: 10px;
			height: 40px;
			width: 120px;
			background-image: url(/images/KMLogo.svg);
			background-repeat: no-repeat;
			margin: auto;
			z-index: 1;
		}
		.logo span {
			font-family: font-file-82132;
			color: #fff;
			margin-top: 1px;
			font-size: 2.7rem;
		}
	}
	.leftBox_nav {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border-top: 1px solid #282828;
		.current-page {
			color: rgb(241, 224, 176);
		}
	}
	.leftBox_nav a {
		text-align: center;
		width: 100%;
		display: block;
		font-size: 1.6rem;
		color: #909096;
		line-height: 5rem;
		border-bottom: 1px solid #282828;
		-webkit-transition: color 0.3s, background-color 0.3s;
		-o-transition: color 0.3s, background-color 0.3s;
		transition: color 0.3s, background-color 0.3s;
		text-decoration: none;
	}
	.leftBox_nav a:hover {
		color: #08fdd8;
	}
	ul {
		color: #909096;
		margin: 0;
		padding: 0;
		list-style: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		height: 20rem;
		li {
			text-align: center;
			padding: 2rem 7px;
			svg {
				width: 2rem;
			}
			svg.SVGgithub {
				width: 1rem;
			}
			svg.SVGlinkedin {
				width: 1rem;
			}
			svg path {
				-webkit-transition: fill 0.3s;
				-o-transition: fill 0.3s;
				transition: fill 0.3s;
				fill: #909096;
			}
		}
		li a:hover svg path {
			fill: aliceblue;
		}
	}
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 10px;
	.titleWrapper {
		height: 20px;
		width: 100;
		overflow: hidden;
		// outline: 1px solid white;
		.titleItem {
			line-height: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.slider {
	color: $darkFont;
	font-size: 18px;
	text-align: center;
	animation: slider 20s linear infinite;
}

@keyframes slider {
	0% {
		margin-top: -38px;
	}
	7% {
		margin-top: -38px;
	}
	11% {
		margin-top: -65px;
	}
	21% {
		margin-top: -65px;
	}
	25% {
		margin-top: -92px;
	}
	36% {
		margin-top: -92px;
	}
	40% {
		margin-top: -119px;
	}
	50% {
		margin-top: -119px;
	}
	55% {
		margin-top: -146px;
	}
	65% {
		margin-top: -146px;
	}
	69% {
		margin-top: -173px;
	}
	79% {
		margin-top: -173px;
	}
	83% {
		margin-top: -200px;
	}
	93% {
		margin-top: -200px;
	}
	97% {
		margin-top: -227px;
	}
	100% {
		margin-top: -227px;
	}
}
