#centerBox {
  height: 100vh;
  width: calc((100% - 17rem) / 2);
  left: 17rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid yellow;
}
#centerBox .nameArea {
  padding-left: 50px;
  margin: 0;
  margin-bottom: 20px;
  color: rgb(189, 211, 175);
  font-size: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#centerBox .nameAreaContact {
  padding-left: 50px;
  margin: 0;
  margin-bottom: 0px;
  color: rgb(189, 211, 175);
  font-size: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#centerBox .contactTop {
  padding-left: 50px;
  margin: 0;
  margin-bottom: -20px;
  color: rgb(189, 211, 175);
  font-size: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-weight: 100;
}
#centerBox .contactBottom {
  padding-left: 50px;
  margin: 0;
  margin-bottom: 20px;
  color: rgb(189, 211, 175);
  font-size: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#centerBox .aboutArea {
  padding-left: 80px;
  color: aliceblue;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
#centerBox .aboutAreaContact {
  padding-left: 80px;
  color: rgb(189, 211, 175);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-decoration: none;
}
#centerBox .container {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
#centerBox .container form div {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}
#centerBox .container form div .inputField {
  width: 50%;
}
#centerBox .container form .email {
  width: 100%;
}
#centerBox .container form .email .leftInput {
  width: 100%;
}
#centerBox .container form .email .number {
  width: 100%;
}
#centerBox .container form .email .number .numInput {
  width: 70%;
}
#centerBox .container form .email .number .extInput {
  width: 30%;
}
#centerBox .container input[type=text],
#centerBox .container input,
#centerBox .container select,
#centerBox .container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#centerBox .container input[type=submit] {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  background-color: rgb(135, 106, 99);
  color: rgb(189, 211, 175);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#centerBox .container input[type=submit]:hover {
  background-color: rgb(189, 211, 175);
  color: rgb(135, 106, 99);
}
#centerBox .container input::-moz-placeholder, #centerBox .container textarea::-moz-placeholder {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}
#centerBox .container input::placeholder,
#centerBox .container select,
#centerBox .container textarea::placeholder {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}
#centerBox .container .submit {
  color: aliceblue;
  background-color: blue;
}

@media only screen and (max-width: 1700px) {
  #centerBox {
    width: calc((100% - 17rem) / 2);
  }
  #centerBox div header .nameArea {
    font-size: 54px;
  }
}
@media only screen and (max-width: 1450px) {
  #centerBox {
    width: calc(100% - 17rem);
  }
  #centerBox div header .nameArea {
    font-size: 54px;
  }
  #centerBox div .aboutArea {
    font-size: 12px;
  }
  #rightBox {
    display: none !important;
  }
}
@media only screen and (max-width: 1050px) {
  #centerBox {
    width: calc(100% - 17rem);
  }
  #centerBox div header .nameArea {
    font-size: 54px;
  }
  #centerBox div .aboutArea {
    font-size: 12px;
  }
  #rightBox {
    display: none !important;
  }
}
@media only screen and (max-width: 805px) {
  #centerBox {
    width: calc(100% - 17rem);
  }
  #centerBox div header .nameArea {
    font-size: 40px;
  }
  #centerBox div .aboutArea {
    font-size: 12px;
  }
  #rightBox {
    display: none !important;
  }
}
@media only screen and (max-width: 660px) {
  #centerBox {
    width: calc(100% - 17rem);
  }
  #centerBox div header .nameArea {
    font-size: 28px;
  }
  #centerBox div .aboutArea {
    font-size: 12px;
  }
  #rightBox {
    display: none !important;
  }
}
#rightBox {
  height: 100vh;
  width: calc((100% - 17rem) / 2);
  left: calc(17rem + (100% - 17rem) / 2);
  display: inline-flex;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rightBox .nameArea {
  padding-left: 50px;
  margin: 0;
  margin-bottom: 20px;
  color: rgb(189, 211, 175);
  font-size: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#rightBox .aboutArea {
  padding-left: 80px;
  color: aliceblue;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
#rightBox .aboutAreaContact {
  padding-left: 80px;
  color: rgb(189, 211, 175);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  min-width: 320px;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background: #1d1d1d;
  display: block;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding-left: 13rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-body {
  margin: 0px;
  height: 20vh;
  display: grid;
  place-items: center;
  z-index: 4;
}

.card-groups,
.card-group,
.card {
  aspect-ratio: 5/7;
}

.card-groups,
.card-group,
.big-card {
  width: 20vmin;
}

.card-group {
  position: absolute;
  transition: transform 400ms ease;
  z-index: 3;
}

.card-group[data-status=unknown] {
  transform: scale(0);
  transition: none;
}

.card-group[data-status=active] {
  transition-delay: 300ms;
}

.card-group[data-status=before] {
  transform: translateX(-50%) scale(0);
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  background-position: center;
  background-size: cover;
}

.big-card {
  border-radius: 1vmin;
}

.little-card {
  width: 8vmin;
  border-radius: 2vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

.big-card:nth-child(2) {
  background-image: url("/images/cards/5x7-4-1-bg.png");
  transform: translateX(-10%) rotate(-1deg);
}

.big-card:nth-child(4) {
  background-image: url("/images/cards/5x7-3-1-bg.png");
  transform: rotate(2deg);
}

.big-card:nth-child(6) {
  background-image: url("/images/cards/5x7-2-1-bg.png");
  transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(8) {
  background-image: url("/images/cards/5x7-1-1-bg.png");
  transform: translate(10%, 3%) rotate(5deg);
}

.card-group[data-index="1"] > .big-card:nth-child(6) {
  background-image: url("/images/cards/5x7-3-2-bg.png");
}

.card-group[data-index="1"] > .big-card:nth-child(8) {
  background-image: url("https://images.unsplash.com/photo-1552053831-71594a27632d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}

.card-group[data-index="2"] > .big-card:nth-child(4) {
  background-image: url("https://images.unsplash.com/photo-1537151608828-ea2b11777ee8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}

.card-group[data-index="2"] > .big-card:nth-child(8) {
  background-image: url("https://images.unsplash.com/photo-1534351450181-ea9f78427fe8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}

.little-card:nth-child(1) {
  background-image: url("https://images.unsplash.com/photo-1543852786-1cf6624b9987?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2F0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}

.little-card:nth-child(3) {
  background-image: url("https://images.unsplash.com/photo-1548546738-8509cb246ed3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y2F0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}

.little-card:nth-child(5) {
  background-image: url("https://images.unsplash.com/photo-1526336024174-e58f5cdd8e13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNhdHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}

.little-card:nth-child(7) {
  background-image: url("https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGNhdHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}

.card-group:hover > .card {
  box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}

.card-group:hover > .big-card:nth-child(2) {
  transform: translate(-75%, 16%) rotate(-24deg);
}

.card-group:hover > .big-card:nth-child(4) {
  transform: translate(-25%, 8%) rotate(-8deg);
}

.card-group:hover > .big-card:nth-child(6) {
  transform: translate(25%, 8%) rotate(8deg);
}

.card-group:hover > .big-card:nth-child(8) {
  transform: translate(75%, 16%) rotate(24deg);
}

.card-group:hover > .little-card:nth-child(1) {
  transform: translate(200%, -160%) rotate(-15deg);
}

.card-group:hover > .little-card:nth-child(3) {
  transform: translate(160%, 170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(5) {
  transform: translate(-200%, -170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(7) {
  transform: translate(-280%, 140%) rotate(-15deg);
}

.card-swiper-buttons {
  margin-top: 8vmin;
  display: flex;
  justify-content: space-around;
  padding: 0vmin 4vmin;
}

.card-swiper-buttons > button {
  font-size: 2.5vmin;
  border: 0.4vmin solid rgb(200, 200, 200);
  border-radius: 100%;
  color: white;
  background-color: transparent;
  height: 7vmin;
  width: 7vmin;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.maincontainer {
  position: absolute;
  width: 250px;
  height: 350px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-flip {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;
  color: #000;
  text-align: center;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: purple;
  color: #fff;
  text-align: center;
  transform: rotateY(180deg);
}

.flipCard {
  transition: transform 1s ease-in 0s;
  animation-duration: 2.2s;
  animation: up-n-over 5s ease-in 1s;
}

@keyframes up-n-over {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-20%);
  }
  20% {
    transform: translateY(-40%);
  }
  30% {
    transform: translateY(-60%);
    transform: rotateX(30deg);
  }
  40% {
    transform: translateY(-70%);
    transform: rotateX(60deg);
  }
  50% {
    transform: translateY(-80%);
    transform: rotateX(90deg);
    transform: rotateY(360deg);
  }
  60% {
    transform: translateY(70%);
    transform: rotateX(72deg);
    transform: rotateY(180deg);
  }
  70% {
    transform: translateY(60%);
    transform: rotateX(54deg);
    transform: rotateY(180deg);
  }
  80% {
    transform: translateY(40%);
    transform: rotateX(36deg);
    transform: rotateY(180deg);
  }
  90% {
    transform: translateY(20%);
    transform: rotateX(18deg);
    transform: rotateY(180deg);
  }
  100% {
    transform: translateY(0);
    transform: rotateX(0deg);
    transform: rotateY(180deg);
  }
}
.leftBar {
  position: absolute;
  width: 250px;
  height: 280px;
  right: 245px;
  top: 20px;
  outline: 3px solid red;
  transform: rotateY(288deg);
  z-index: 3;
}

.rightBar {
  position: absolute;
  width: 250px;
  height: 280px;
  left: 245px;
  top: 20px;
  outline: 3px solid red;
  transform: rotateY(-288deg);
  z-index: 3;
}

.block {
  height: 300px;
  width: 600px;
  outline: 1px solid blue;
  position: absolute;
  left: 50%;
  top: 22%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.scene {
  margin: 40px 0;
  position: relative;
  width: 210px;
  height: 700px;
  margin: 40px auto;
  perspective: 5500px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 190px;
  height: 120px;
  left: 10px;
  top: 10px;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.carousel__cell:nth-child(5n+1) {
  background: hsla(0, 0%, 0%, 0.8);
}

.carousel__cell:nth-child(5n+2) {
  background: hsla(40, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(5n+3) {
  background: hsla(80, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(5n+4) {
  background: hsla(120, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(5n+5) {
  background: hsla(160, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(1) {
  transform: rotateY(0deg) translateZ(288px);
  z-index: 3;
}

.carousel__cell:nth-child(2) {
  transform: rotateY(72deg) translateZ(288px);
  z-index: 0;
}

.carousel__cell:nth-child(3) {
  transform: rotateY(144deg) translateZ(288px);
  z-index: 0;
}

.carousel__cell:nth-child(4) {
  transform: rotateY(216deg) translateZ(288px);
  z-index: 0;
}

.carousel__cell:nth-child(5) {
  transform: rotateY(288deg) translateZ(288px);
  z-index: 0;
}

.leftBox {
  width: 17rem;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.leftBox .linksWrapper {
  background: #000000;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}
.leftBox .linksWrapper .linksWrapper > span {
  font-family: "Open Sans";
  color: #a5a5a5;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.leftBox .linksWrapper .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leftBox .linksWrapper .logo div {
  width: 6rem;
  height: auto;
  padding-bottom: 10px;
  height: 40px;
  width: 120px;
  background-image: url(/images/KMLogo.svg);
  background-repeat: no-repeat;
  margin: auto;
  z-index: 1;
}
.leftBox .linksWrapper .logo span {
  font-family: font-file-82132;
  color: #fff;
  margin-top: 1px;
  font-size: 2.7rem;
}
.leftBox .leftBox_nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #282828;
}
.leftBox .leftBox_nav .current-page {
  color: rgb(241, 224, 176);
}
.leftBox .leftBox_nav a {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.6rem;
  color: #909096;
  line-height: 5rem;
  border-bottom: 1px solid #282828;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
}
.leftBox .leftBox_nav a:hover {
  color: #08fdd8;
}
.leftBox ul {
  color: #909096;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 20rem;
}
.leftBox ul li {
  text-align: center;
  padding: 2rem 7px;
}
.leftBox ul li svg {
  width: 2rem;
}
.leftBox ul li svg.SVGgithub {
  width: 1rem;
}
.leftBox ul li svg.SVGlinkedin {
  width: 1rem;
}
.leftBox ul li svg path {
  transition: fill 0.3s;
  fill: #909096;
}
.leftBox ul li a:hover svg path {
  fill: aliceblue;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.title .titleWrapper {
  height: 20px;
  width: 100;
  overflow: hidden;
}
.title .titleWrapper .titleItem {
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  color: #978b90;
  font-size: 18px;
  text-align: center;
  animation: slider 20s linear infinite;
}

@keyframes slider {
  0% {
    margin-top: -38px;
  }
  7% {
    margin-top: -38px;
  }
  11% {
    margin-top: -65px;
  }
  21% {
    margin-top: -65px;
  }
  25% {
    margin-top: -92px;
  }
  36% {
    margin-top: -92px;
  }
  40% {
    margin-top: -119px;
  }
  50% {
    margin-top: -119px;
  }
  55% {
    margin-top: -146px;
  }
  65% {
    margin-top: -146px;
  }
  69% {
    margin-top: -173px;
  }
  79% {
    margin-top: -173px;
  }
  83% {
    margin-top: -200px;
  }
  93% {
    margin-top: -200px;
  }
  97% {
    margin-top: -227px;
  }
  100% {
    margin-top: -227px;
  }
}/*# sourceMappingURL=play.css.map */