@charset "UTF-8";
::-webkit-scrollbar {
  display: none;
}

.main_container {
  font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  height: 100vh;
  width: calc(100vw - 17.5rem);
  left: 17rem;
  display: inline-flex;
  position: fixed;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: 1px;
}
.main_container .outer_container {
  height: 100vh;
  display: inline-flex;
  position: relative;
  width: 95%;
  top: 0;
  margin-top: 6vh;
}
.main_container .outer_container .left_container {
  display: block;
  position: fixed;
  width: 32rem;
  height: 100vh;
  margin-top: 55px;
}
.main_container .outer_container .left_container .leftHeadInfo {
  display: flex;
  text-align: center;
  position: relative;
  width: 100%;
  aspect-ratio: 1/0.6;
  border-radius: 90% 90% 0 0;
  background-color: rgb(0, 0, 230);
}
.main_container .outer_container .left_container .leftHeadInfo .headInfo-list {
  display: block;
  align-items: center;
  text-align: left;
  margin: 0;
  margin-top: 25%;
  margin-left: 10%;
  padding: 0;
  width: 100%;
  aspect-ratio: 1/1;
  list-style: none;
}
.main_container .outer_container .left_container .leftHeadInfo .headInfo-list .headtitleList {
  margin-bottom: -20px;
}
.main_container .outer_container .left_container ul {
  color: rgb(212, 175, 165);
}
.main_container .outer_container .left_container .leftHeadInfo::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 90%;
  aspect-ratio: 1/0.6;
  border: 4px solid rgb(212, 175, 165);
  border-radius: 90% 90% 0 0;
  border-bottom: none;
  left: 11.5%;
  margin-top: 5%;
  margin-left: -25px;
  pointer-events: none;
}
.main_container .outer_container .left_container .leftSkillsInfo {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 230);
  flex-direction: column;
}
.main_container .outer_container .left_container .leftSkillsInfo .skill-headers {
  display: block;
  align-items: center;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10%;
  width: 100%;
}
.main_container .outer_container .left_container .leftSkillsInfo .skill-headers .titleList {
  margin-bottom: 5px;
}
.main_container .outer_container .left_container .leftSkillsInfo .skill-headers .skill-lists {
  padding: 0;
  margin-left: 8%;
  list-style: square;
}
.main_container .outer_container .left_container .leftSkillsInfo .skill-headers .skill-lists .firstInfo {
  margin-top: 0;
}
.main_container .outer_container .left_container .leftSkillsInfo .skill-headers .skill-lists .titleInfo {
  margin-bottom: -20px;
}
.main_container .outer_container .left_container .leftSkillsInfo .skill-headers .secondSkills {
  margin-top: 15%;
}
.main_container .outer_container .left_container .leftSkillsInfo::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 90%;
  height: 100%;
  aspect-ratio: 1/0.6;
  border: 4px solid rgb(212, 175, 165);
  border-bottom: none;
  border-top: none;
  left: 11.5%;
  margin-left: -25px;
  pointer-events: none;
}

.rightContainer {
  display: block;
  position: relative;
  width: 80%;
  height: 100%;
  margin-top: 55px;
  margin-left: calc(32rem + 6%);
  margin-right: 6%;
}
.rightContainer h2,
.rightContainer h3 {
  color: rgb(212, 175, 165);
  margin: 0;
}
.rightContainer #profile-header {
  width: 100%;
}
.rightContainer #profile-header #profile-header-container {
  display: flex;
  position: relative;
  width: 100%;
}
.rightContainer #profile-header #profile-header-container #name {
  flex-direction: row;
  color: rgb(189, 211, 175);
  font-size: 10rem;
  margin-top: 7%;
  line-height: 85px;
  margin-bottom: 1rem;
}
.rightContainer #profile-header h2 {
  color: rgb(135, 106, 99);
  font-size: 3rem;
}
.rightContainer #profile-header p {
  max-width: 70%;
  color: aliceblue;
  font-size: 2.1rem;
}
.rightContainer section ul {
  list-style: none;
  padding: 0;
  color: aliceblue;
}
.rightContainer section .skill-lists {
  padding: 0;
  margin-left: 8%;
  list-style: square;
}
.rightContainer section .skill-lists .titleInfo {
  margin-bottom: -20px;
  font-weight: 400;
}
.rightContainer section .skill-lists .firstInfo {
  margin-top: 0;
}
.rightContainer section #companies .company header {
  display: flex;
  align-items: baseline;
}
.rightContainer section #companies .company header h3 span {
  font-weight: normal;
  color: aliceblue;
}
.rightContainer section #companies .company header h3 span:before {
  content: " — ";
  font-weight: normal;
}
.rightContainer section #companies .company header .period {
  margin-left: auto;
  margin-right: 2rem;
}
.rightContainer section #companies .company hr {
  opacity: 0.3;
  margin-top: 0;
  margin-bottom: 1em;
}
.rightContainer section #companies .company .points {
  list-style: square;
  padding-left: 40px;
}
.rightContainer #bot-li {
  padding-bottom: 55px;
}

@media only screen and (max-width: 1200px) {
  .main_container .outer_container .left_container {
    display: none;
  }
  .rightContainer {
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 1000px) {
  .rightContainer #profile-header #profile-header-container #name {
    color: rgb(189, 211, 175);
    font-size: 8rem;
    line-height: 70px;
  }
  article header h2 {
    color: rgb(135, 106, 99);
    font-size: 2.5rem;
  }
  article p {
    max-width: 70%;
    color: aliceblue;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 900px) {
  .rightContainer #profile-header #profile-header-container #name {
    color: rgb(189, 211, 175);
    font-size: 7rem;
    line-height: 60px;
  }
  article header h2 {
    color: rgb(135, 106, 99);
    font-size: 2rem;
  }
  article p {
    max-width: 70%;
    color: aliceblue;
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 600px) {
  .rightContainer #profile-header #profile-header-container #name {
    color: rgb(189, 211, 175);
    font-size: 5rem;
    line-height: 45px;
  }
  article header h2 {
    color: rgb(135, 106, 99);
    font-size: 2rem;
  }
  article p {
    max-width: 70%;
    color: aliceblue;
    font-size: 1.6rem;
  }
}
#wrap {
  margin-top: 80px;
  text-align: center;
}

.dl-icon {
  filter: invert(92%) sepia(74%) saturate(3126%) hue-rotate(179deg) brightness(110%) contrast(104%);
}

.btn-slide2:hover span svg.dl-icon {
  filter: invert(82%) sepia(7%) saturate(833%) hue-rotate(53deg) brightness(99%) contrast(91%);
}

.btn-slide2 {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 200px;
  line-height: 50px;
  padding: 0;
  border-radius: 50px;
  background: aliceblue;
  border: 2px solid #0099cc;
  margin: 10px;
  transition: 0.5s;
  font-family: helvetica, sans-serif;
}

.btn-slide2 {
  border: 2px solid rgb(189, 211, 175);
}

.btn-slide2:hover {
  background-color: rgb(189, 211, 175);
}

.btn-slide2:hover span.circle2 {
  left: 100%;
  margin-left: -45px;
  background-color: #fdfdfd;
  color: #0099cc;
}

.btn-slide2:hover span.circle2 {
  color: rgb(189, 211, 175);
}

.btn-slide2:hover span.title2 {
  left: 40px;
  opacity: 0;
}

.btn-slide2:hover span.title-hover2 {
  opacity: 1;
  left: 40px;
}

.btn-slide2 span.circle2 {
  display: block;
  background-color: #0099cc;
  position: absolute;
  float: left;
  margin: 5px;
  line-height: 42px;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  transition: 0.5s;
  border-radius: 50%;
}

.btn-slide2 span.circle2 {
  background-color: rgb(189, 211, 175);
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  position: absolute;
  left: 90px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: #30abd5;
  transition: 0.5s;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  color: rgb(189, 211, 175);
  left: 80px;
}

.btn-slide2 span.title-hover2 {
  left: 80px;
  opacity: 0;
}

.btn-slide2 span.title-hover2 {
  color: aliceblue;
}/*# sourceMappingURL=resume.css.map */